//
   Template to construct champion information section.

.championStats
    // User can change the champion levels here.
    span.
        #{champName}
    .dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle Level #[span(class='caret')]
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
            - for (var i = 1; i < 19; ++i) {
                li #[a(href='#', tabindex='-1') #{i}]
            - }

.stats
    table
        thead
            tr
                th Stat
                th Value
        tbody
            tr
                td Attack Damage
                td(class='ad')
            tr
                td Attack Speed
                td(class='as')
            tr
                td Ability Power
                td(class='ap')
            // Blank cell to separate offense from defense.
            tr
                td <br>
            tr
                td Armor
                td(class='armor')
            tr
                td Magic Resist
                td(class='mr')