//
   Created by Yuto on 11/2/2015.

extends layout

block content
    #container

        - var champName = youName
        #you.championInformation
            img.championThumbnail(src= youThumbnail)
            include ./champion-info

        - champName = enemyName
        #enemy.championInformation
            img.championThumbnail(src= enemyThumbnail)
            include ./champion-info

        include ./scripts

        script.
            //noinspection JSUnusedAssignment
            var youData = !{JSON.stringify(youData)};
            //noinspection JSUnusedAssignment
            var enemyData = !{JSON.stringify(enemyData)};

        script(src='/js/calculate-stats.js')