//
   Created by Yuto on 11/2/2015.

extends layout

block content
    #container
        #you.championInformation
                img.championThumbnail(src= youThumbnail)
                .championStats

        #enemy.championInformation
                img.championThumbnail(src= enemyThumbnail)
                .championStats