//
   Created by Yuto on 11/2/2015.

extends partials/layout

block content
    #container
        - var champName = youName
        #you.championInformation
            img.championThumbnail(src= youThumbnail)
            include partials/champion-info

        - champName = enemyName
        #enemy.championInformation
            img.championThumbnail(src= enemyThumbnail)
            include partials/champion-info

        #items
            - for (var i = 0; i < itemThumbnails.length; ++i) {
                img.itemThumbnail(src = itemThumbnails[i])
            - }

        #calculations

        include partials/scripts

        // Need this in this file or else the syntax won't make any sense.
        script.
            //noinspection JSUnusedAssignment
            var youData = !{JSON.stringify(youData)}
            //noinspection JSUnusedAssignment
            var enemyData = !{JSON.stringify(enemyData)}
            //noinspection JSUnresolvedVariable
            var itemData = !{JSON.stringify(items)}
            //noinspection JSUnusedAssignment
            var itemThumbnails = !{JSON.stringify(itemThumbnails)}

        script(src='/js/calculate-stats.js')
        script(src='/js/display-stats.js')